:root {
    --mini-title: rgba(18, 24, 38, 1);
    --x-color: rgba(255, 0, 0, 1);
    --input-border-color: rgba(210, 213, 218, 1);
    --action-primary-default: rgba(11, 95, 255, 1);
    --mini-title-bg: rgba(255, 255, 255, 1);
    --brand-color: rgba(225, 40, 40, 1);
  }
  